<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.intoin.myapplication" >

    <uses-permission android:name="android.permission.INTERNET" />
    <permission

        android:name="com.example.intoin.myapplication.locationapi.maps.permission.MAPS_RECEIVE"

        android:protectionLevel="signature" />



    <uses-permission android:name="com.example.intoin.myapplication.locationapi.maps.permission.MAPS_RECEIVE" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-feature

        android:glEsVersion="0x00020000"

        android:required="true" />


    <application
        android:allowBackup="true"
        android:largeHeap="true"
        android:name=".Myapplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <meta-data android:name="com.kakao.sdk.AppKey"
            android:value="033ee6f29daee2778c148db1f75640ee" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAW5iwGLdQD2RItYCP9WW3Yic6Lqwwh0wA" />
        <activity
            android:name=".login.SplashActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".login.LoginActivity"
            >
        </activity>
        <activity
            android:name=".mainactivity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>
        <activity
            android:name="com.example.intoin.myapplication.login.ExloginActivity"

            >

        </activity>
        <activity
            android:name="com.example.intoin.myapplication.login.SearchIDActivity"
            >

        </activity>
        <activity
            android:name="com.example.intoin.myapplication.login.SearchIDcompleteActivity"
            >

        </activity>
        <activity
            android:name="com.example.intoin.myapplication.login.PasswordSearchActivity"
            >

        </activity>
        <activity
            android:name="com.example.intoin.myapplication.login.PasswordReActivity"
            >

        </activity>

        <activity
            android:name=".login.SampleSignupActivity"
            >

        </activity>
        <activity
            android:name=".mainactivity.ModelDeatailActivity"

            >

        </activity>

        <activity
            android:name=".mainactivity.MGMDeatailActivity"

            >

        </activity>

        <activity
            android:name=".mainactivity.SearchActivity"

            >

        </activity>

        <activity
            android:name=".mainactivity.CustomerRegistrationActivity"

            >

        </activity>

        <activity
            android:name=".mainactivity.CustomerInfoActivity"

            >

        </activity>
        <activity
            android:name=".mainactivity.CustomerAddActivity"
            >
        </activity>

        <activity
            android:name=".mainactivity.InquiryActivity"
            >
        </activity>

        <activity
            android:name=".mainactivity.LineAddActivity"
            >
        </activity>
        <activity
            android:name=".mainactivity.LineInfoActivity"
            >
        </activity>
        <activity
            android:name=".mainactivity.MessageActivity"
            >
        </activity>




        <activity
            android:name=".viewpager.ViewpagerActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            >

        </activity>







    </application>

</manifest>
